@circloidActiveColor:					@baseColorBlue;
@circloidActiveSecondaryColor:			@baseColorBlue;

@baseTextColor:							#555555;
@headerTextColor:						#1d1d1d;
@textColorThick:						darken(@baseTextColor, 28.4%);
@textColorMuted:						lighten(@baseTextColor, 27%);

@baseColorBlue:							#1f91f3;
@baseColorGreen:						#2b982b;
@baseColorOrange:						#ff9600;
@baseColorYellow:						#ffe821;
@baseColorRed:							#fb483a;
@baseColorLime:							#CDDC39;
@baseColorPurple:						#9C27B0;
@baseColorLightBlue:					#5bc0de;

@colorWhite:							#FFFFFF;
@colorBlack:							#000000;
@colorOffWhite:							#F1F1F1;

@colorGrey1:							#eeeeee;
@colorGrey2:							#dddddd;
@colorGrey3:							#cccccc;
@colorGrey4:							#bbbbbb;
@colorGrey5:							#aaaaaa;

@colorTwitter:							lighten(#00B6F1, 10%);
@colorFacebook:							lighten(#3b5998, 10%);
@colorGPlus:							lighten(#DF4A32, 10%);

@baseColorBlueDark:						darken(saturate(@baseColorBlue, 100%), 20.5%);
@baseColorGreenDark:					darken(saturate(@baseColorGreen, 100%), 20.5%);
@baseColorOrangeDark:					darken(saturate(@baseColorOrange, 100%), 20.5%);
@baseColorYellowDark:					darken(saturate(@baseColorYellow, 100%), 20.5%);
@baseColorRedDark:						darken(saturate(@baseColorRed, 100%), 20.5%);
@baseColorLimeDark:						darken(saturate(@baseColorLime, 100%), 20.5%);
@baseColorPurpleDark:					darken(saturate(@baseColorPurple, 100%), 20.5%);

@borderStandardColor:					@colorGrey2;
@borderStandard:						1px solid @borderStandardColor;

@baseFontFamily:						"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
@baseFontSize:							13px;
@fontWeightHeader:						300;

@highlightBorderThinkness:				2px;

@highlightBorderThinknessRightColumn:	5px;

@goldenRatio:							1.618;
